
$color1: #0d1b2a;
$color2: #1b263b;
$color3: #415a77;
$color4: #778da9;

$bright-gray-0: hsl(0, 0%, 97%);
$bright-gray-1: hsl(0, 0%, 95%);
$bright-gray-2: hsl(0, 0%, 90%);
$bright-gray-3: hsl(0, 0%, 85%);
$bright-gray-4: hsl(0, 0%, 80%);

$pink-contrast: hsl(340, 100%, 50%);
$pink-contrast-transparent: hsla(340, 100%, 50%, 0.5);
$pink-contrast-dark: hsl(340, 100%, 45%);

$text-color: #333333;

$border-radius-1: 3px;
$border-radius-2: 6px;


@mixin disable-text-selection {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer and Edge */
    user-select: none; /* Chrome and Opera */
}
